.board {
  font-size: 50px;
  height: 400px;
  width: 400px;
  display: inline-grid;
  flex-wrap: wrap;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-gap: 1px;
  background-color: black;
}

.cell {
  border: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.cell:hover {
  background-color: #eee;
}
