.board {
  height: 400px;
  width: 400px;
  display: inline-grid;
  flex-wrap: wrap;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-gap: 1px;
  background-color: black;
}

@media (max-width: 600px) {
  .board {
    height: 80vw;
    width: 80vw;
  }
}

.cell {
  font-size: 50px;
  line-height: 0;
  border: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-radius: 0;
}

.cell:hover {
  background-color: #eee;
}

@media (prefers-color-scheme: dark) {
  .board {
    background-color: white;
  }
  .cell {
    background-color: black;
  }
  .cell:hover {
    background-color: #222;
  }
}

.gameStatusIndicator {
  margin: 40px auto 20px auto;
  text-align: center;
}

.opponent {
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.opponentSelect {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  list-style: none;
}

.opponentSelectButton {
  cursor: pointer;
  margin: 0 2px;
}

.opponentSelectButtonActive {
  background-color: green;
  color: white;
  border: 1px solid green;
}

.lower {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reset {
  letter-spacing: 2px;
  font-family: inherit;
  font-size: 12px;
  font-weight: 700;
  margin: 20px auto;
  cursor: pointer;
  color: white;
  background-color: red;
  padding: 6px 10px;
  border-radius: 5px;
  border: 1px solid white;
  text-transform: uppercase;
}

@media (prefers-color-scheme: dark) {
  .reset {
    color: white;
    background-color: red;
  }
}
